

<div class="control-section">
    <ejs-grid  #grid  [dataSource]="dataSource" (commandClick)="onCommandClick($event)" class="sortingenabled" allowSorting='true' [sortSettings]='initialSort' height='400'>
      <e-columns >
        <e-column field="name" headerText="{{'table.name'| translate}}" width='120' textAlign='Left'></e-column>
        <e-column field='pnumber' headerText="{{'table.pnumber'| translate}}"  width='100'></e-column>
        <e-column field='hnumber' headerText="{{'table.hnumber'| translate}}"  width='100'></e-column>
        <e-column field='email' headerText="{{'table.email'| translate}}" width='150'></e-column>
        <e-column field='address' headerText="{{'table.address'| translate}}" width='200'></e-column>
        <e-column field='type' headerText="{{'table.type'| translate}}" editType="dropdownedit" width='150'></e-column>
        <e-column headerText="{{'table.ed'| translate}}" width=140 [commands]='Commands'></e-column>
        <!-- <e-column headerText='Manage Records' width=140 [commands]='deleteCommands'></e-column> -->
      </e-columns>
    </ejs-grid>
</div>



  
<!-- [toolbar]='toolbarOption' -->
<!-- [editSettings]="editOption" -->

