<div  class="col-lg-12  e-input-section">
    <div class="content-wrapper">
        <form [formGroup]="editRehber" >
            <div >
                <h1>{{'edit.title'|translate}}</h1>
                <div class="col-lg-12 m-4">
                    <div class=" col-lg-6 my-3">
                        <ejs-textbox formControlName="name" placeholder="{{'edit.name'|translate}}" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
                    </div>
                    <div class="col-lg-2 my-3">
                        <ejs-maskedtextbox formControlName="pnumber"  placeholder="{{'edit.pnumber'| translate}}" floatLabelType="Auto" cssClass="e-outline"   mask="(00)-000-0000"></ejs-maskedtextbox>
                        <span class="error" *ngIf="pnumber?.invalid && pnumber?.touched">Phone number is invalid</span>
                        
                    </div>
                    <div class="col-lg-2 my-3">
                        <ejs-maskedtextbox formControlName="hnumber"   placeholder="{{'edit.hnumber'| translate}}" floatLabelType="Auto" cssClass="e-outline"   mask="000-00-00"></ejs-maskedtextbox>
                    <span class="error" *ngIf="hnumber?.invalid && hnumber?.touched">Home number is invalid</span>

                    </div>
                    <div class="col-lg-6 my-3">
                        <ejs-textbox formControlName="email"  type="email"  placeholder="{{'edit.email'| translate}}" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
                        <span class="error" *ngIf="email?.invalid && email?.touched">Email is invalid</span>

                    </div>
                    <div class="multiline-row" class="col-lg-6 my-3">
                        <ejs-textbox formControlName="address"  id="textarea"  placeholder="{{'edit.address'| translate}}" cssClass="e-outline" floatLabelType="Auto" #default rows="5" style="width: 100%;" floatLabelType="Auto" [multiline]="true"></ejs-textbox>
                    </div>
                    <div class="col-lg-6 my-3">
                        <ejs-dropdownlist  formControlName="type"    [dataSource]="personType" cssClass="e-outline" floatLabelType="Auto" [fields]="dataFields" placeholder="{{'edit.type'| translate}}"></ejs-dropdownlist>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                        <button [disabled]="editRehber.invalid" (click)="collection()"  routerLink="/" ejs-button cssClass="e-info" >{{'edit.button'| translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- {{model | json}} -->